
/*This is a comment in CSS*/

body{
    font-family: cursive;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

.centered-wrapper{
    width:800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

nav{
    padding:15px 3%;
}
  
a{
    color:darkseagreen;
}

/* When giving a child element position absolute you should give the parent position value as well */
/* The child will then be positioned absolute in realtion to the box container of the parent */
/* positioning elements on the page is fundamental to understanding CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
.title{
    position: relative;
    width: 350px;
    text-align: left;
    margin: 0 auto;
}
.title a{
    position: absolute;
}
.title a.phar1{
    left: 66%;
    color:darkseagreen;
}

.centered-wrapper a.pink{
    color:lightpink;
}
span#light{
    position: relative;
    font-size: 25px;
    color:khaki;
}

span#darkness{
    position: relative;
    font-size: 15px;
    color:darkblue;
}

span#exist{
    font-size: 30px;
    color:cadetblue;
}